body{
    background:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.25)), url(background.jpg);
}
.login-info{
    
    background-color:rgb(59,60,54);
    color:white;
    align-items:center;
    text-align:center;      
    width:30%;
    border-radius:20px;
    padding-left:30px;
    padding-right:30px;
    padding-top:50px;
    padding-bottom:50px;
    position: absolute;
    top: 30%;
    left: 25%;
    opacity:0.9;
}

.add-info-table{
    display:flex;
    color:white;
    letter-spacing: 3px;
    text-transform: uppercase;

}


.add-info-table td{
    height:60px;
    padding-left:20px;
    padding-right:10px;

}

.info-section{
    padding-top:30px
}

.info-section h3{
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    letter-spacing: 3px;
}

.add-info-table input[type=text],input[type=password]{
    padding: 8px 10px;
    margin: 2px 0;
    border-radius:15px;
    background-color:lightgrey;
    font-size:15px
}

#add-info-table ,input[type=submit]{
    padding: 8px 15px;
    margin: 2px 0;
    border-radius:12px;
    font-weight: bold;
    color:black;
    letter-spacing: 3px;
}


